Repository yonycalsin/bencody: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["yarn lint:fix"],
  "*.scss": ["prettier --write", "stylelint --fix"],
  "{*.{json,md}}": ["prettier --write"]
}

fix: 🐛 formated
  .eslintrc.js
  .lintstagedrc
  package-lock.json
  package.json
  src/components/About/About.tsx
  src/components/Footer/Footer.tsx
  src/components/PostListing/PostListing.tsx
  src/components/PostTags/PostTags.tsx
  src/components/SEO/SEO.tsx
  src/components/SocialLinks/SocialLinks.tsx
  src/templates/category.tsx
  src/templates/landing.tsx
  src/templates/listing.tsx
  src/templates/post.tsx
  src/templates/tag.tsx
Due: yarn lint:fix

fix: 🐛 remark linted
  .prettierrc
  .remarkrc
  .vscode/settings.json
  content/01-01-2017.md
  content/01-02-2017.md
  content/01-03-2017.md
  content/02-03-2017.md
  content/17-03-2017.md
  content/23-03-2017.md
  content/Big_Sample_Post.md
  src/components/Disqus/Disqus.tsx
  src/components/Footer/Footer.tsx
  src/components/PostListing/PostListing.tsx
  src/components/PostTags/PostTags.tsx
  src/components/SEO/SEO.tsx
  src/components/SocialLinks/SocialLinks.tsx
  src/components/UserInfo/UserInfo.tsx
  src/components/UserLinks/UserLinks.tsx
  src/layout/index.tsx
  src/pages/about.tsx
  src/templates/category.tsx
  src/templates/landing.tsx
  src/templates/listing.tsx
  src/templates/post.tsx
  src/templates/tag.tsx
Due: yarn lint:fix

test: 💍 add lint script
  package.json
Due: none

fix: 🐛 resolve type-check
  src/components/UserLinks/UserLinks.tsx
Due: yarn lint:fix

fix: 🐛 - setup (#4)
  .eslintrc.js
  .huskyrc
  .lintstagedrc
  .prettierrc
  .remarkrc
  .vscode/settings.json
  content/01-01-2017.md
  content/01-02-2017.md
  content/01-03-2017.md
  content/02-03-2017.md
  content/17-03-2017.md
  content/23-03-2017.md
  content/Big_Sample_Post.md
  package-lock.json
  package.json
  src/components/About/About.tsx
  src/components/Disqus/Disqus.tsx
  src/components/Footer/Footer.tsx
  src/components/PostListing/PostListing.tsx
  src/components/PostTags/PostTags.tsx
  src/components/SEO/SEO.tsx
  src/components/SocialLinks/SocialLinks.tsx
  src/components/UserInfo/UserInfo.tsx
  src/components/UserLinks/UserLinks.tsx
  src/layout/index.tsx
  src/pages/about.tsx
  src/templates/category.tsx
  src/templates/landing.tsx
  src/templates/listing.tsx
  src/templates/post.tsx
  src/templates/tag.tsx
  tsconfig.json
Due: yarn lint:fix

chore: 🤖 add codeowners
  .github/CODEOWNERS
Due: none

feat: 🎸 add wdavidcalsin as codeowner
  .github/CODEOWNERS
Due: none

fix: 🐛 add node version
  .github/workflows/ci-workflow.yml
  .nvmrc
  netlify.toml
Due: none

chore: 🤖 add git-cz file for customize
  changelog.config.js
Due: yarn lint:fix

feat: 🎸 create pull request template
  .github/ISSUE_TEMPLATE/pull_request_template.md
Due: none

feat: 🎡 setup ci (#5)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/pull_request_template.md
  .github/workflows/ci-workflow.yml
  .nvmrc
  changelog.config.js
  netlify.toml
Due: yarn lint:fix

fix: 🐛 purge
  LICENSE
Due: none

chore: 🤖 setup sass/scss
  content/Big_Sample_Post.md
  gatsby-config.js
  package-lock.json
  package.json
  src/templates/b16-tomorrow-dark.css
  src/templates/listing.tsx
Due: yarn lint:fix

chore: 🤖 setup sass
  data/SiteConfig.js
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/layout/index.tsx
  src/styles/main.scss
  src/utils/constants.ts
  tsconfig.json
Due: yarn lint:fix, prettier --write, stylelint --fix

fix: 🐛 delete all the css files
  src/templates/b16-tomorrow-dark.css
  src/templates/listing.css
  src/templates/listing.tsx
  src/templates/post.css
  src/templates/post.tsx
Due: yarn lint:fix

fix: 🐛 delete css files
  .eslintrc.js
  package.json
  src/components/About/About.css
  src/components/About/About.tsx
  src/components/Footer/Footer.css
  src/components/Footer/Footer.tsx
  src/components/SocialLinks/SocialLinks.css
  src/components/SocialLinks/SocialLinks.tsx
  src/components/UserLinks/UserLinks.css
  src/components/UserLinks/UserLinks.tsx
  src/layout/index.css
  src/styles/_prism-styles.scss
  src/styles/_reset.scss
  src/styles/_variables.scss
  src/styles/main.scss
Due: yarn lint:fix, prettier --write, stylelint --fix

chore: 🤖 setup sass/scss (#6)
  .eslintrc.js
  content/Big_Sample_Post.md
  data/SiteConfig.js
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/components/About/About.css
  src/components/About/About.tsx
  src/components/Footer/Footer.css
  src/components/Footer/Footer.tsx
  src/components/SocialLinks/SocialLinks.css
  src/components/SocialLinks/SocialLinks.tsx
  src/components/UserLinks/UserLinks.css
  src/components/UserLinks/UserLinks.tsx
  src/layout/index.css
  src/layout/index.tsx
  src/styles/_prism-styles.scss
  src/styles/_reset.scss
  src/styles/_variables.scss
  src/styles/main.scss
  src/templates/listing.css
  src/templates/listing.tsx
  src/templates/post.css
  src/templates/post.tsx
  src/utils/constants.ts
  tsconfig.json
Due: yarn lint:fix, prettier --write, stylelint --fix

chore: 🤖 purge setup
  data/site-config.ts
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/Disqus/Disqus.tsx
  src/components/SEO/SEO.tsx
  src/components/SocialLinks/SocialLinks.tsx
  src/layout/index.tsx
  src/pages/about.tsx
  src/templates/category.tsx
  src/templates/landing.tsx
  src/templates/listing.tsx
  src/templates/post.tsx
  src/templates/tag.tsx
  src/utils/config.ts
  tsconfig.json
Due: yarn lint:fix

chore: 🤖 purge setup (#7)
  data/site-config.ts
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/Disqus/Disqus.tsx
  src/components/SEO/SEO.tsx
  src/components/SocialLinks/SocialLinks.tsx
  src/layout/index.tsx
  src/pages/about.tsx
  src/templates/category.tsx
  src/templates/landing.tsx
  src/templates/listing.tsx
  src/templates/post.tsx
  src/templates/tag.tsx
  src/utils/config.ts
  tsconfig.json
Due: yarn lint:fix

refactor: 💡 remove netlify cms
  gatsby-config.js
  package-lock.json
  package.json
  src/netlifycms/index.js
  static/admin/config.yml
Due: yarn lint:fix

refactor: 💡 remove netlify cms (#8)
  gatsby-config.js
  package-lock.json
  package.json
  src/netlifycms/index.js
  static/admin/config.yml
Due: yarn lint:fix

feat: 🎸 add navbar component and basic styles
  .eslintrc.js
  .lintstagedrc
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Navbar/index.tsx
  src/components/index.ts
  src/layout/index.tsx
  src/pages/404.tsx
  src/styles/_reset.scss
  src/styles/base/_reset.scss
  src/styles/base/_variables.scss
  src/styles/components/index.scss
  src/styles/components/navbar.scss
  src/styles/functions/index.scss
  src/styles/functions/spacing.scss
  src/styles/main.scss
Due: yarn lint:fix, prettier --write, stylelint --fix

fix: 🐛 purge fonts
  src/styles/main.scss
Due: prettier --write, stylelint --fix

feat: 🎸 add navbar component and basic styles (#20)
  .eslintrc.js
  .lintstagedrc
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Navbar/index.tsx
  src/components/index.ts
  src/layout/index.tsx
  src/pages/404.tsx
  src/styles/_reset.scss
  src/styles/base/_reset.scss
  src/styles/base/_variables.scss
  src/styles/components/index.scss
  src/styles/components/navbar.scss
  src/styles/functions/index.scss
  src/styles/functions/spacing.scss
  src/styles/main.scss
Due: yarn lint:fix, prettier --write, stylelint --fix

chore: change tabSize for makrdown files
  .vscode/settings.json
Due: none

chore: change tabSize for makrdown files (#21)
  .vscode/settings.json
Due: none

feat: 🎸 add featured component
  src/components/Featured/components/index.ts
  src/components/Featured/components/item.tsx
  src/components/Featured/index.tsx
  src/components/Featured/styles.scss
  src/components/index.ts
  src/styles/main.scss
  src/templates/listing.tsx
  src/utils/data.ts
Due: yarn lint:fix, prettier --write, stylelint --fix

feat: 🎸 add featured component (#22)
  src/components/Featured/components/index.ts
  src/components/Featured/components/item.tsx
  src/components/Featured/index.tsx
  src/components/Featured/styles.scss
  src/components/index.ts
  src/styles/main.scss
  src/templates/listing.tsx
  src/utils/data.ts
Due: yarn lint:fix, prettier --write, stylelint --fix

chore: 🤖 styled-components integration
  gatsby-config.js
  package-lock.json
  package.json
Due: yarn lint:fix

chore: 🤖 styled-components integration (#23)
  gatsby-config.js
  package-lock.json
  package.json
Due: yarn lint:fix

feat: 🎸 add avatar component
  src/components/Avatar/elements.tsx
  src/components/Avatar/index.tsx
  src/components/index.ts
Due: yarn lint:fix

feat: 🎸 add avatar component (#24)
  src/components/Avatar/elements.tsx
  src/components/Avatar/index.tsx
  src/components/index.ts
Due: yarn lint:fix

chore: 🤖 configure styled-components theming
  gatsby-browser.js
  src/utils/get-size-style.ts
  src/utils/index.ts
  src/utils/theme.ts
Due: yarn lint:fix

chore: 🤖 configure styled-components theming (#25)
  gatsby-browser.js
  src/utils/get-size-style.ts
  src/utils/index.ts
  src/utils/theme.ts
Due: yarn lint:fix

feat: 🎸 create space component
  src/components/Space/elements.tsx
  src/components/Space/index.tsx
Due: yarn lint:fix

feat: 🎸 create space component (#26)
  src/components/Space/elements.tsx
  src/components/Space/index.tsx
Due: yarn lint:fix

feat: 🎸 add typography component
  src/components/Typography/index.tsx
  src/utils/get-text-style.ts
  src/utils/index.ts
  src/utils/theme.ts
Due: yarn lint:fix

feat: 🎸 add typography component (#27)
  src/components/Typography/index.tsx
  src/utils/get-text-style.ts
  src/utils/index.ts
  src/utils/theme.ts
Due: yarn lint:fix

feat: 🎸 update home page
  content/01-01-2017.md
  content/01-02-2017.md
  content/01-03-2017.md
  content/Big_Sample_Post.md
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  globals.d.ts
  src/components/Featured/index.tsx
  src/components/GlobalStyle/index.tsx
  src/components/Post/components/footer.tsx
  src/components/Post/components/header.tsx
  src/components/Post/components/index.ts
  src/components/Post/index.tsx
  src/components/index.ts
  src/styles/_prism-styles.scss
  src/styles/main.scss
  src/templates/home/components/featureds.tsx
  src/templates/home/components/index.ts
  src/templates/home/components/posts.tsx
  src/templates/home/index.tsx
  src/templates/listing.tsx
  src/templates/post.tsx
Due: yarn lint:fix, prettier --write, stylelint --fix

feat: 🎸 update home page (#28)
  content/01-01-2017.md
  content/01-02-2017.md
  content/01-03-2017.md
  content/Big_Sample_Post.md
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  globals.d.ts
  src/components/Featured/index.tsx
  src/components/GlobalStyle/index.tsx
  src/components/Post/components/footer.tsx
  src/components/Post/components/header.tsx
  src/components/Post/components/index.ts
  src/components/Post/index.tsx
  src/components/index.ts
  src/styles/_prism-styles.scss
  src/styles/main.scss
  src/templates/home/components/featureds.tsx
  src/templates/home/components/index.ts
  src/templates/home/components/posts.tsx
  src/templates/home/index.tsx
  src/templates/listing.tsx
  src/templates/post.tsx
Due: yarn lint:fix, prettier --write, stylelint --fix
