Repository yonycalsin/bencody: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint -s scss --fix, prettier --write

feat: 🎸 add footer component
  data/site-config.ts
  gatsby-config.js
  package.json
  src/components/Avatar/index.tsx
  src/components/Footer/Footer.tsx
  src/components/Footer/index.tsx
  src/components/UserLinks/UserLinks.tsx
  src/components/index.ts
  src/layout/index.tsx
  src/templates/post.tsx
Due: eslint --fix

feat: 🎸 add footer component (#29)
  data/site-config.ts
  gatsby-config.js
  package.json
  src/components/Avatar/index.tsx
  src/components/Footer/Footer.tsx
  src/components/Footer/index.tsx
  src/components/UserLinks/UserLinks.tsx
  src/components/index.ts
  src/layout/index.tsx
  src/templates/post.tsx
Due: eslint --fix

chore: 🤖 configure for ssr
  gatsby-ssr.js
Due: eslint --fix

feat: 🎸 add theming provider to wrapPageElement for ssr
  gatsby-ssr.js
Due: eslint --fix

feat: 🎸 add theming provider to wrapPageElement for ssr (#30)
  gatsby-ssr.js
Due: eslint --fix

Revert "feat: 🎸 add theming provider to wrapPageElement for ssr (#30)"
  gatsby-ssr.js
Due: eslint --fix

Revert "feat: 🎸 add theming provider to wrapPageElement for ssr (#30)" (#31)
  gatsby-ssr.js
Due: eslint --fix

Revert "Revert "feat: 🎸 add theming provider to wrapPageElement for ssr (#30)" (#31)"
  gatsby-ssr.js
Due: eslint --fix

Revert "Revert "feat: 🎸 add theming provider to wrapPageElement for ssr (#30)" (#31)" (#32)
  gatsby-ssr.js
Due: eslint --fix

Revert "Revert "Revert "feat: 🎸 add theming provider to wrapPageElement for ssr (#30)" (#31)" (#32)"
  gatsby-ssr.js
Due: eslint --fix

Revert "Revert "Revert "feat: 🎸 add theming provider to wrapPageElement for ssr (#30)" (#31)" (#32)" (#33)
  gatsby-ssr.js
Due: eslint --fix

Revert "Revert "Revert "Revert "feat: 🎸 add theming provider to wrapPageElement for ssr (#30)" (#31)" (#32)" (#33)"
  gatsby-ssr.js
Due: eslint --fix

chore: 🤖 add theming provider to wrapPageElement for ssr (#34)
  gatsby-ssr.js
Due: eslint --fix

feat: 🎸 update post page
  data/site-config.ts
  src/components/Footer/index.tsx
  src/components/GlobalStyle/index.tsx
  src/components/PostTags/PostTags.tsx
  src/components/SocialLinks/SocialLinks.tsx
  src/components/UserInfo/UserInfo.tsx
  src/components/UserLinks/UserLinks.tsx
  src/styles/_prism-styles.scss
  src/templates/post.tsx
Due: eslint --fix, stylelint -s scss --fix

feat: update post page (#35)
  data/site-config.ts
  src/components/Footer/index.tsx
  src/components/GlobalStyle/index.tsx
  src/components/PostTags/PostTags.tsx
  src/components/SocialLinks/SocialLinks.tsx
  src/components/UserInfo/UserInfo.tsx
  src/components/UserLinks/UserLinks.tsx
  src/styles/_prism-styles.scss
  src/templates/post.tsx
Due: eslint --fix, stylelint -s scss --fix

refactor: 💡 purge pages
  gatsby-config.js
  gatsby-node.js
  src/components/About/About.tsx
  src/components/Disqus/Disqus.tsx
  src/components/FeaturedListing/index.tsx
  src/components/Footer/index.tsx
  src/components/PostListing/PostListing.tsx
  src/components/PostListing/index.tsx
  src/components/SEO/SEO.tsx
  src/components/index.ts
  src/pages/404.tsx
  src/pages/about.tsx
  src/templates/category.tsx
  src/templates/home/components/index.ts
  src/templates/home/index.tsx
  src/templates/landing.tsx
  src/templates/tag.tsx
Due: eslint --fix

refactor: 💡 purge project (#36)
  gatsby-config.js
  gatsby-node.js
  src/components/About/About.tsx
  src/components/Disqus/Disqus.tsx
  src/components/FeaturedListing/index.tsx
  src/components/Footer/index.tsx
  src/components/PostListing/PostListing.tsx
  src/components/PostListing/index.tsx
  src/components/SEO/SEO.tsx
  src/components/index.ts
  src/pages/404.tsx
  src/pages/about.tsx
  src/templates/category.tsx
  src/templates/home/components/index.ts
  src/templates/home/index.tsx
  src/templates/landing.tsx
  src/templates/tag.tsx
Due: eslint --fix

ci: 🎡 update codeowners
  .github/CODEOWNERS
Due: none

feat: 🎸 extend home template
  content/01-01-2017.md
  content/01-03-2017.md
  content/Big_Sample_Post.md
  data/data-source.ts
  gatsby-config.js
  gatsby-node.js
  src/components/Featured/index.tsx
  src/components/FeaturedListing/index.tsx
  src/components/Post/index.tsx
  src/templates/home/index.tsx
Due: eslint --fix

fix: 🐛 change
  gatsby-node.js
Due: eslint --fix

feat: extend home template (#37)
  content/01-01-2017.md
  content/01-03-2017.md
  content/Big_Sample_Post.md
  data/data-source.ts
  gatsby-config.js
  gatsby-node.js
  src/components/Featured/index.tsx
  src/components/FeaturedListing/index.tsx
  src/components/Post/index.tsx
  src/templates/home/index.tsx
Due: eslint --fix

refactor: 💡 update navbar
  src/components/Navbar/elements.tsx
  src/components/Navbar/index.tsx
  src/styles/main.scss
Due: eslint --fix, stylelint -s scss --fix

fix: 🐛 delete no used styles
  src/styles/base/_reset.scss
  src/styles/components/index.scss
  src/styles/components/navbar.scss
Due: stylelint -s scss --fix

feat: 🎸 update tag page
  gatsby-node.js
  src/components/Avatar/elements.tsx
  src/components/Post/components/header.tsx
  src/components/Post/index.tsx
  src/components/PostListing/index.tsx
  src/templates/category.tsx
  src/templates/home/index.tsx
  src/templates/tag.tsx
  src/utils/data.ts
Due: eslint --fix

refactor: update (#38)
  gatsby-node.js
  src/components/Avatar/elements.tsx
  src/components/Navbar/elements.tsx
  src/components/Navbar/index.tsx
  src/components/Post/components/header.tsx
  src/components/Post/index.tsx
  src/components/PostListing/index.tsx
  src/styles/base/_reset.scss
  src/styles/components/index.scss
  src/styles/components/navbar.scss
  src/styles/main.scss
  src/templates/category.tsx
  src/templates/home/index.tsx
  src/templates/tag.tsx
  src/utils/data.ts
Due: eslint --fix, stylelint -s scss --fix

feat: 🎸 add library page
  content/01-01-2021-nestjs-starting.md
  content/Big_Sample_Post.md
  data/data-source.ts
  gatsby-node.js
  src/components/FeaturedListing/index.tsx
  src/templates/home/index.tsx
  src/templates/post.tsx
Due: eslint --fix

feat: 🎸 add nestjs library to nodejs language
  data/data-source.ts
  gatsby-node.js
Due: eslint --fix

fix: 🐛 show title
  gatsby-node.js
  src/components/Featured/index.tsx
  src/templates/home/index.tsx
Due: eslint --fix

feat: 💄 add library page (#42)
  content/01-01-2021-nestjs-starting.md
  content/Big_Sample_Post.md
  data/data-source.ts
  gatsby-node.js
  src/components/Featured/index.tsx
  src/components/FeaturedListing/index.tsx
  src/templates/home/index.tsx
  src/templates/post.tsx
Due: eslint --fix

fix: 🐛 validate dataSource in home template
  src/templates/home/index.tsx
Due: eslint --fix

fix: 🐛 validate dataSource in home template (#43)
  src/templates/home/index.tsx
Due: eslint --fix

Delete docs directory
  docs/pwa-score.png
Due: none

refactor: delete docs directory (#74)
  docs/pwa-score.png
Due: none

Delete netlify.toml
  netlify.toml
Due: none

Delete netlify.toml (#110)
  netlify.toml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint -s scss --fix: any of: *.scss
  prettier --write: any of: {*.{json,md}}
